.paper {
  max-width: 700px; /*Para nao passar de 700px o bloco de produto*/
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 8px;

}
.form {
  margin-top: 15px;

}

.opcExtras {
  display: flex;
  margin-top: 15px;
}

.link {
  color: #da552f;
  margin: 0px auto 0px auto;
}

.link:hover {
  color: black;
}
