.product-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    border: 2px solid #DDD;
}

.product-info .tableFields {
    margin: 20px auto 0;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    border: 2px solid #DDD; 
}

.product-info h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.product-info input {
    font-size: 16px;
    height: 25px;
}

.product-info textarea {
    font-size: 16px;
}

.product-info pre {
    color: #da552f;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

.product-info .myButton {
    display: flex; /*Ocupara toda linha*/
    justify-content: space-between; /*esse e o de baixo, para centralizar o botao */
    align-items: flex-end;
    margin-bottom: 20px;
}

.product-info button {
    padding: 10px;
    border-radius: 5px; /*Arrendondar as bordas*/
    border: 2;
    width: 80px;
    background: #da552f;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    display: initial;
    cursor: pointer; /*Muda a seta do mouse para a maozinha em cima do botao*/       
    transition: all 0.2; /*para as mudancas ao passar o moude, demore 0.2segundos*/
}

.product-info button:hover {
    opacity: 0.7;
    color: #da552f;
    background: #FFF;
}